.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.leftPanel {
  background-color: aquamarine;
}
.rightPanel {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftPanel,
.rightPanel {
  transition: background-color 0.5s ease;
}
.formWrapper {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftLogin {
  background-color: aquamarine;
}
.leftSignup {
  background-color: aqua;
}
.rightLogin {
  background-color: aqua;
}
.rightSignup {
  background-color: aquamarine;
}

@media (max-width: 34em) {
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
  }
  .leftPanel {
    display: none;
  }
  .rightPanel {
    background-color: aqua;
  }
  .formWrapper {
    height: 80%;
    width: 80%;
  }
}
