.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.leftPanel {
  background-color: aquamarine;
}
.rightPanel {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftPanel,
.rightPanel {
  transition: background-color 0.5s ease;
}
.formWrapper {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftLogin {
  background-color: aquamarine;
}
.leftSignup {
  background-color: aqua;
}
.rightLogin {
  background-color: aqua;
}
.rightSignup {
  background-color: aquamarine;
}
@media (min-width: 15em) {
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
  }
  .leftPanel {
    display: none;
  }
  .formWrapper {
    width: 85%;
  }
}
@media (min-width: 30em) {
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
  }
  .leftPanel {
    display: none;
  }
  .formWrapper {
    width: 60%;
  }
}

@media (min-width: 48em) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .leftPanel {
    display: block;
  }
  .formWrapper {
    width: 60%;
  }
}

@media (min-width: 62em) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .leftPanel {
    display: block;
  }
  .formWrapper {
    width: 60%;
  }
}

@media (min-width: 75em) {
  .formWrapper {
    width: 50%;
  }
}

@media (min-width: 88em) {
  .formWrapper {
    width: 50%;
  }
}

@media (min-width: 100em) {
  .container {
    grid-template-columns: 1.5fr 1fr;
  }
  .formWrapper {
    width: 50%;
  }
}
